:root {
  --black: #1E1E1E;
}

.product-item {
  margin-bottom: 20px;
  cursor: pointer;
}

.product-item .img-inner {
  margin-bottom: 20px;
  position: relative;
}

.product-item .img-inner img {
  width: 100%;
}

.product-item .img-inner .overlay-product {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-item .img-inner .overlay-product .linked {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.product-item .img-inner .overlay-product .linked a {
  width: 60px;
  height: 60px;
  display: inline-block;
  background-color: #ffffff;
  color: var(--black);
  border-radius: 50%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  line-height: 60px;
  text-align: center;
}

.product-item .img-inner .overlay-product:hover .linked {
  opacity: 1;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.product-item .img-inner .overlay-product:hover .linked a {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.product-item .content-inner h5 {
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
}

.product-item .content-inner span {
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
}

.product {
  padding-top: 100px;
}

.product .product-image img {
  width: 100%;
}

.product-body {
  padding: 0 50px;
}

.product-body .title-details {
  position: relative;
  margin-bottom: 30px;
}

.product-body .title-details .product-title {
  letter-spacing: -1px;
  font-weight: 500;
  margin: 0px 0px 15px;
}

.product-body .title-details .product-price {
  color: #000000;
  font-size: 25px;
}

.product-body .button-inner .btn {
  padding: 12px;
  font-weight: 500;
}

.product-body .category-info {
  color: black;
}

.product-body .category-info a {
  color: gray;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-body .category-info a:hover {
  color: #ffffff;
}

.product-body .social-icon-five a {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid #eee;
}

.pro-desc {
  padding: 100px 0;
}

.pro-desc .nav {
  margin-bottom: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid #f2f2f2;
}

.related-products {
  padding: 100px 0;
}

.banner .bread-crumb {
  list-style-type: none;
}

.banner a {
  color: #1E1E1E;
}

html body {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: .028rem;
  font-family: 'Poppins', sans-serif;
  height: 1000px;
}

row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 9999;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 10px 40px;
}

header .left-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .left-container .hamburger {
  padding: 0;
  margin-right: 15px;
}

header .left-container .hamburger .hamburger-inner {
  margin-top: 2px;
  height: 2px;
  background-color: #fff;
}

header .left-container .hamburger .hamburger-inner:after, header .left-container .hamburger .hamburger-inner:before {
  background-color: #fff;
  height: 2px;
}

header .left-container .logo {
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: uppercase;
}

header .left-container.sidebar-open {
  position: absolute;
  z-index: 999;
  top: -16px;
}

header .left-container.sidebar-open .logo {
  color: #000;
}

header .left-container.sidebar-open .hamburger-inner {
  background-color: #000;
}

header .left-container.sidebar-open .hamburger-inner:after, header .left-container.sidebar-open .hamburger-inner:before {
  background-color: #000;
}

header .center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .center-container .search-bar {
  position: relative;
}

header .center-container .search-bar .search-line {
  border: none;
  border-bottom: 1px solid #ffff;
  min-height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #fff;
  background: transparent;
  padding: 5px 0;
  width: 300px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
}

header .center-container .search-bar .search-line::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

header .center-container .search-bar .search-line:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

header .center-container .search-bar .search-line::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

header .center-container .search-bar .search-line::placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

header .center-container .search-bar .search-line:focus-visible {
  width: 400px;
  min-height: calc(100% + 4px);
}

header .center-container .search-bar .search-line:focus-visible::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

header .center-container .search-bar .search-line:focus-visible:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

header .center-container .search-bar .search-line:focus-visible::-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

header .center-container .search-bar .search-line:focus-visible::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

header .right-container {
  color: #fff;
  border-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .right-container a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: 22px;
}

header .right-container .inner {
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
  margin-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .right-container .inner svg {
  margin-right: 6px;
  height: 30px;
  width: 30px;
  color: #fff;
}

header .right-container .inner:last-child {
  margin-right: 0;
}

header .sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 500px;
  height: 100vh;
  background: #fff;
  padding: 140px 20px 40px 20px;
  -webkit-box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transform: translateX(-550px);
          transform: translateX(-550px);
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
  overflow: hidden;
}

header .sidebar .side-menu {
  display: -ms-grid;
  display: grid;
  text-decoration: none;
  color: black;
  list-style-type: none;
}

header .sidebar .side-menu .navigation-bar {
  text-transform: uppercase;
  color: #000;
}

header .sidebar .side-menu .navigation-bar a {
  text-decoration: none;
  display: block;
}

header .sidebar .side-menu .navigation-bar a:visited:hover:link {
  text-decoration: none;
}

header .sidebar.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

header.dark {
  background: #000;
}

main {
  padding-top: 100px;
}

main.home-page {
  padding-top: 0;
}

.carousel-item {
  height: 32rem;
  background: #777;
  color: #fff;
  position: relative;
  background: black;
  background-position: center;
  background-size: cover;
}

.carousel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.home-carousel {
  width: 100%;
}

.home-carousel .slide img,
.home-carousel .slide video {
  max-width: 100%;
  width: 100%;
}

.home-carousel .owl-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.popup {
  width: 800px;
  height: 400px;
  background-color: #fff;
  position: fixed;
  z-index: 1200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.popup.show {
  opacity: 1;
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup .login {
  margin: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 90px auto;
  text-align: center;
  font-weight: 100;
  color: var(--black);
}

footer .email-label {
  display: block;
}

footer .email-input {
  width: 33%;
  border: none;
  border-bottom: 1px solid black;
}

footer .subscribe-form::after {
  content: ' *';
  font-size: 13px;
  vertical-align: top;
}

footer .social-links a {
  color: var(--black);
  width: 50px;
  height: 50px;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 50px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: none;
  margin: 30px 0;
}
/*# sourceMappingURL=style.css.map */